{% extends "base.html.twig" %}

{% block title %}Page Articles-Accueil{% endblock %}

{% block body %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Articles</h5>
    <p class="card-text">Bienvenue sur notre page articles, vous trouverez les articles les plus recents.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}